[WebService]
AllowUnencrypted=true
Origins = https://cockpit.{{ nginx_domain | default('ndelucca-server.com') }} http://cockpit.{{ nginx_domain | default('ndelucca-server.com') }}
ProtocolHeader = X-Forwarded-Proto
