[Unit]
# {{ ansible_managed }}
Description=restic repository maintenance (prune + check)
RequiresMountsFor={{ storage_backup_disk }}

[Service]
Type=oneshot
ExecStart={{ backup_maintenance_script }}
Nice=10
IOSchedulingClass=idle
