[Unit]
Description=Timer for {{ service_maintenance_unit_description | lower }}

[Timer]
# Only run once after boot, with delay for router to be ready
OnBootSec={{ service_maintenance_boot_delay }}

[Install]
WantedBy=timers.target
